*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


.tabella-ctr{
    display: block;
    position: relative;
    width: 100%;
    margin: 1rem 0 2rem;
    @include single-transition();
}

/*
===========================
TABLE HEADER
===========================*/

.t-fixed-header{
	display: block;
	z-index: -1;
}

.t-first-row{
	z-index: 100;
}

.t-shadow{

	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
 

	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);

  	&::before{
  		position: absolute;
  		content: '';
  		top: -1px;
  		width: 100%;
  		height: 1px;
  		background-color: #ccc;
  	}
}

/**
* WATCH OUT! The height property given to a table displayed element, is equal to min-height.
* Hence, it is going to expand when the content is higher than that height.
*/
.t-first-row .t-row-cell{
	height: 3.4rem;
}

/*
===========================
MAIN RULES
===========================*/
.t-row{
	position: relative;
	display: block;
	width: 100%;
	margin-top: 1.5rem;
	border: 1px solid $border-color;
}

.t-row-content-wrapper{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
}

.t-row-content{
	position: relative;
	display: block;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
}

.t-row-header{
	display: block;
	position: relative;
	width: 100%;
	padding: 0.3rem 0.5rem;
	float: none;
	overflow: auto;
	color: $primary-color;
}

.t-cell-desc-l, .t-cell-desc-s{
	.t-header-devider{
		text-align: left;
	}
}

.t-header-devider{
	display: block;
	clear: both;
	text-align: center;
	line-height: 0.4rem;
	margin-bottom: 0.2rem;
}

.t-sliding-row{
	position: relative;
	overflow: auto;
	@extend .t-no-select;
	-webkit-backface-visibility: hidden; 
   	backface-visibility: hidden;

}

.t-row-values{
	float: left;
	position: relative;
	font-size: 1rem;
	overflow: hidden;
}

.t-row-desc{
	float: left;
	display: table;
	position: relative;
	overflow: hidden;
	padding: 0.4rem 0.1rem;
	font-size: 1rem;
	background-color: #fff;
	text-align: center;
}



.t-row-cell{
	float: left;
	display: table;
	position: relative;
	text-align: center;
	padding: 0.4rem 0.1rem;
	color: hsla(200,0%,0%,.7);
	//color: #fff;

	&:nth-of-type(odd){
		background-color: $odd-background-color;
	}

	&:nth-of-type(even){
		background-color: $even-background-color;
	}
}

.t-cell-border-top::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0.9rem;
	right: 0.9rem;
	height: 0px;
	border-top: 1px dotted $border-color;
}

.t-element{
	display: table-cell;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	line-height: 1.4;
	vertical-align: middle;
}

.t-cell-value{
	//float: left;
	display: inline-block;
	text-align: left;
	@extend .t-no-select;
	cursor: default;
}

.t-cell-desc-s{
	//float: left;
	display: inline-block;
	margin-right: 0.4rem;
	text-align: left;
	color: hsla(200,0%,0%,.3);
}

.t-cell-desc-l{
	display: inline-block;
	position: relative;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	color: $secondary-text;
	font-style: italic;
}

.t-hide{
	display: none !important;
	width: 0;
	height: 0;
	z-index: -1;
}

.t-arrow{
	position: absolute;
	z-index: 500;
	width: 3rem;
	height: 3rem;
	top: 0;
	margin-top: 0.25rem;
	line-height: 1.4;
	font-size: 2rem;
	text-align: center;
	border-radius: 50%;
	background-color: $accent-color;
	color: #fff;
	cursor: pointer;
	outline: none;
	@include box-shadow;
	@include single-transition;

	&:active{
		@include box-shadow(none);
		margin-top: 0.28rem;
	}
	
}


.t-arr-right{
	@extend .t-arrow;
	@extend .t-no-select;
	right: 0;
	margin-right: -0.7rem;

	svg{
		position: relative;
		width: 60%;
		height: 60%;
		top: 10%;
	}
	
}

.t-arr-left{
	@extend .t-arrow;
	@extend .t-no-select;
	left: 0;
	margin-left: -0.7rem;

	svg{
		position: relative;
		width: 60%;
		height: 60%;
		top: 10%;
	}

}

.t-svg-arrow{
	fill: #fff;
}

.t-bold{
	font-weight: bold;
}

/*
=====================
 COMMON RULES
=====================
*/

.t-no-select {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}